<a href="https://colab.research.google.com/github/Manikandan-professional/Basket-Data-Analysis/blob/main/Basket_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basket Data Analysis**

**Importing the Necessary Moduels**

In [ ]:
import pandas as pd
import numpy as np

**Reading the csv file**

In [ ]:
a=pd.read_csv('https://raw.githubusercontent.com/Manikandan-professional/Basket-Data-Analysis/main/basket_analysis.csv')
a

     Unnamed: 0  Apple  Bread  Butter  ...  Sugar  Unicorn  Yogurt  chocolate
0             0  False   True   False  ...   True    False    True       True
1             1  False  False   False  ...  False    False   False      False
2             2   True  False    True  ...  False    False    True       True
3             3  False  False    True  ...  False    False   False      False
4             4   True   True   False  ...  False    False   False      False
..          ...    ...    ...     ...  ...    ...      ...     ...        ...
994         994  False   True   False  ...  False     True   False       True
995         995   True  False   False  ...  False    False    True      False
996         996   True  False   False  ...   True    False   False       True
997         997  False  False    True  ...   True    False    True       True
998         998  False  False   False  ...  False    False   False       True

[999 rows x 17 columns]

**Conversion of csv file to DataFrame**

In [ ]:
df=pd.DataFrame(a)

**First five row preview of the loaded dataset**

In [ ]:
df.head()

   Unnamed: 0  Apple  Bread  Butter  ...  Sugar  Unicorn  Yogurt  chocolate
0           0  False   True   False  ...   True    False    True       True
1           1  False  False   False  ...  False    False   False      False
2           2   True  False    True  ...  False    False    True       True
3           3  False  False    True  ...  False    False   False      False
4           4   True   True   False  ...  False    False   False      False

[5 rows x 17 columns]

**Columns in the DataFrame(df)**

In [ ]:
list(df.columns)

['Unnamed: 0',
 'Apple',
 'Bread',
 'Butter',
 'Cheese',
 'Corn',
 'Dill',
 'Eggs',
 'Ice cream',
 'Kidney Beans',
 'Milk',
 'Nutmeg',
 'Onion',
 'Sugar',
 'Unicorn',
 'Yogurt',
 'chocolate']

In [ ]:
df.isnull().sum()

Unnamed: 0      0
Apple           0
Bread           0
Butter          0
Cheese          0
Corn            0
Dill            0
Eggs            0
Ice cream       0
Kidney Beans    0
Milk            0
Nutmeg          0
Onion           0
Sugar           0
Unicorn         0
Yogurt          0
chocolate       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    999 non-null    int64
 1   Apple         999 non-null    bool
 2   Bread         999 non-null    bool
 3   Butter        999 non-null    bool
 4   Cheese        999 non-null    bool
 5   Corn          999 non-null    bool
 6   Dill          999 non-null    bool
 7   Eggs          999 non-null    bool
 8   Ice cream     999 non-null    bool
 9   Kidney Beans  999 non-null    bool
 10  Milk          999 non-null    bool
 11  Nutmeg        999 non-null    bool
 12  Onion         999 non-null    bool
 13  Sugar         999 non-null    bool
 14  Unicorn       999 non-null    bool
 15  Yogurt        999 non-null    bool
 16  chocolate     999 non-null    bool
dtypes: bool(16), int64(1)
memory usage: 23.5 KB